/*
  Color Palette:  #1A2830
                  #2f4858
                  #375f77
                  #33658A
                  #86BBD8
                  #F6AE2D
                  #F26419
                  #566b36
*/

html, body {
    height: 100%;
    background: #2F4858;
    color: #1A2830;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, a {
    font-family: 'Nunito', sans-serif;
}

a {
    cursor: pointer;
}

.wrapper {
    height: 100%;
    overflow: hidden;
}

.question {
    cursor: pointer;
}

.white-text {
    color: white;
}

.greeting {
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.intro {
    z-index: 3;
    background: #1A2830;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
}

.question-display {
    font-family: 'Nunito';
    background-color: #2f4858;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 2;
    font-size: 4vw;
    text-align: center;
}

.quiz-list-container {
    background-color: inherit;
    z-index: 2;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.quiz-table {
    table-layout: fixed;
    position: absolute;
    top: 0;
    height: 90%;
    width: 100%;
}

.quiz-table-row {
    height: 15%;
}

.quiz-container {
    background-color: #1A2830;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

textarea {
    display: inline-block;
    margin: auto;
    resize: none;
    background-color: white;
    border: 0;
    text-align: center;
    font-size: small;
    border-radius: 2px;
}

.blurb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #33658A;
    border-radius: 2px;
    margin: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 90%;
    text-align: center;
    font-size: 2vw;
    transition: all 300ms cubic-bezier(.25,.8,.25,1);
}

.blurb:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.play {
    background-color: #375f77;
    color: white;
    font-family: 'Nunito';
}

.category {
    font-family: 'Pacifico';
    background-color: #566b36;
    color: white;
    font-style: oblique;
    word-wrap: break-word;
}

.category-textarea-container {
    width: 100%;
    height: 100%;
}

.question-textarea-container {
    width: 100%;
    height: 50%;

}

.answer-textarea-container {
    width: 100%;
    height: 50%;

}

.category-textarea {
    height: 100%;
    width: 100%;
}

.question-textarea {
    height: 100%;
    width: 100%;
    border-radius: 2px 2px 0 0;
}

.answer-textarea {
    height: 100%;
    width: 100%;
    border-radius: 0 0 2px 2px;
    border-top: 1px solid #1A2830;
}

.alert{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.buzz-alert {

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F26419;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.correct-incorrect-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main {
    margin-left: 178px;
    height: 100vh;
}

.quiz-name-textarea {
    margin: 0;
    height: 40;
}

.save.quiz-name-textarea {
    height: auto;
}

.done {
    font-size: initial;
    background-color: #F26419;
    cursor: pointer;
    margin: 20px;
}

.buzzer-container {
    background-color: #1A2830;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buzzer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 140px;
    border-bottom: 10px solid #C68716;
    background-color: #F6AE2D;
    color: black;
    cursor: pointer;
    transition: all 300ms cubic-bezier(.25,.8,.25,1);
}

.buzzer:hover {
    border-bottom: 15px solid #C68716;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.buzzer:active:hover {
    border-bottom: 2px solid #C68716;
    box-shadow: none;
}

.buzzer h1 {
    color: #C68716;
    font-weight: bold;
}

.name-change-container {
    position:absolute;
    top: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

input[type=number] {
    height: 40px;
    border: none;
    border-radius: 2px;
    margin-right: 20px;
}

.app-title {
    text-align: center;
    color: #F6AE2D;
    padding: 0 0 0 0;
    margin: -40px 15px 15px 15px;
    display: block;
}

.quiz-list {
    border-radius: 2px;
    width: 90%;
    margin: auto;
    max-width: 960px;
}

.top-bar {
    background-color: #1A2830;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

.play-table {
    top: 60px;
}

.add-student-form {
    width: 100%;
    height: 100%;
    background-color: #566b36;
    color: white;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-student-form h1 {
    font-family: 'Pacifico';
}

.bottom-bar {
    background-color: #1A2830;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}

.scoreboard-table {
    width: 70%;
}

.scoreboard-table td {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 1.5vw;
}

.save {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    width: 150px;
    height: 40px;
}

.commit-button {
    background-color: #566b36;
    border-radius: 2px;
    color: white;
}

.discard-button {
    width: 100px;
    color: white;
    font-style: oblique;
}

th {
    height: 40px;
    color: gray;
}

td {
    color: white;
    font-size: 20px;
}

.quiz-list-table-body tr:hover {
    background-color: #375f77;
}

.quiz-list-table-body tr {
    border-top: 1px solid gray;
    transition: all 300ms cubic-bezier(.25,.8,.25,1);
}

.quiz-list-table-body td {
    text-align: center;
}

table {
    border-collapse: collapse;
}

table button {
    margin-right: 20px;
}

.action-cell {
    text-align: center;
}

.new-quiz-cell {
    cursor: pointer;
}

.action-button {
    height: 30px;
    border-radius: 15px;
    background-color: #2f4858;
    margin-top: 5px;
    margin-right: 5px;
}

.delete-button {
    background-color: #ef4646;
}

.button-grid {
    margin: 0.5%;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 19.2% 19.2% 19.2% 19.2% 19.2%;
    grid-template-rows: 15.5% 15.5% 15.5% 15.5% 15.5% 15.5%;
    align-items: stretch;
    grid-column-gap: 0.5%;
    grid-row-gap: 0.5%;
}

.button {
    background: #33658A;
    border-radius: 2px;
    color: white;
}

.button-title {
    text-align: center;
    font-size: 2em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.google-login-button {
    width: 250px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -25px;
    transition: all 300ms cubic-bezier(.25,.8,.25,1);
}

.google-login-button:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.title-button {
    background: #F6AE2D;
    color: #1A2830;
}

.login-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: #2f4858;
    border-radius: 5px;
    height: 200px;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -250px;
}

.login-container-side1 {
    float: left;
    background: #33658A;
    height: 200px;
    width: 200px;
    border-radius: 5px 0 0 5px;
}

.login-container-side1-icon {
    position: relative;
    right: -75px;
    top: 50px;
    width: 50px;
}

.login-container-side1-title {
    color: white;
    font-family: 'Pacifico', cursive;
    position: relative;
    text-align: center;
    top: 25px;
}

.login-container-greeting {
    color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;
    text-align: center;
    top: 20px;
}

.anonymous-sign-in-link {
    display: block;
    position: relative;
    text-align: center;
    top: 150px;
}
