/*
  Color Palette:  #1A2830
                  #2f4858
                  #33658A
                  #86BBD8
                  #F6AE2D
                  #F26419
*/

html, body {
  height: 100%;
  background: #2F4858;
  color: white;
  font-family: 'Open Sans', sans-serif;
  min-width: 800px;
  min-height: 600px;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  overflow: hidden;
}

.top {
  top: 0;
  height: 92px;
  background: #1A2830;
}

.left {
  background: #1A2830;
  float: left;
  min-height: 100%;
  width: 178px;
}

.main {
  margin-left: 178px;
  height: 100vh;
}

.app-title {
  text-align: center;
}

.button-grid {
  margin: 0.5%;
  max-height: 100vh;
  display:grid;
  grid-template-columns: 19.2% 19.2% 19.2% 19.2% 19.2%;
  grid-template-rows: 15.5% 15.5% 15.5% 15.5% 15.5% 15.5%;
  align-items: stretch;
  grid-column-gap: 0.5%;
  grid-row-gap: 0.5%;
}

.button {
  background: #33658A;
  border-radius: 2px;
  color: white;
}

.button-title {
  text-align: center;
  font-size: 2em;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.title-button {
  background: #F6AE2D;
  color: #1A2830;
}

h1, h2, h3, h4, h5 {
  font-family: 'Nunito', sans-serif;
}
