/*
  Color Palette:  #1A2830
                  #2f4858
                  #33658A
                  #86BBD8
                  #F6AE2D
                  #F26419
*/

html, body {
  height: 100%;
  background: #2F4858;
  color: #1A2830;
  font-family: 'Open Sans', sans-serif;
  min-width: 800px;
  min-height: 600px;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  overflow: hidden;
}

.intro-sidebar {
  background: linear-gradient(to bottom right, #33658A, #1A2830);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.7s;
  transition-timing-function: ease-in-out;
}

.main {
  margin-left: 178px;
  height: 100vh;
}

.app-title {
  text-align: center;
}

.button-grid {
  margin: 0.5%;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 19.2% 19.2% 19.2% 19.2% 19.2%;
  grid-template-rows: 15.5% 15.5% 15.5% 15.5% 15.5% 15.5%;
  align-items: stretch;
  grid-column-gap: 0.5%;
  grid-row-gap: 0.5%;
}

.button {
  background: #33658A;
  border-radius: 2px;
  color: white;
}

.button-title {
  text-align: center;
  font-size: 2em;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.google-login-button {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title-button {
  background: #F6AE2D;
  color: #1A2830;
}

h1, h2, h3, h4, h5 {
  font-family: 'Nunito', sans-serif;
}

.login-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: #86BBD8;
  border-radius: 5px;
  height: 500px;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -250px 0 0 -250px;
}
